.id {
  color: red;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  border: 10px;
}

.voltar {
  border: 10px;
  color: blue;
}

.genre {
  border: 10px;
  color: red;
}

.name {
  border: 10px;
  color: red;
}
