.voltar {
  border: 10px;
  color: blue;
  padding: 5px;
  background-color: black;
}

.div1 {
  width: 90%;
  margin: 0 auto;
  background-color: white;
  border-radius: 1rem;
  position: relative;
}

.img {
  width: 50%;
  border-radius: 0.5rem 0.5rem 0 0;
}
