.Grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

.id {
  color: red;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
